header
{
    display:flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: row;
    color:#d9d9d9;
    background-color:#284b63;
}

img
{
    width:200px;
    height:auto;
    padding:10px;
    
}

a:link{
    color:#d9d9d9;


}

a:visited
{
    color:white;
}
body
{
    
}