header
{
    display:flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: row;
    color:#d9d9d9;
    background-color:#284b63;
}

img
{
    width:200px;
    height:auto;
    padding:10px;
    
}


a:link{
    color:#d9d9d9;
}

a:visited
{
    color:white;
}
body
{
    padding:0;
    margin:0;
    display:flex;
    height:100vh;
    flex-direction:column;
}
main
{
    flex:1;
}

h1
{
    padding:0 10px;
}

p
{
    padding:0 15px;
}

h2
{
    padding:0 15px;
}

h3
{
    padding:0 20px;
}
h4
{
    padding:0 25px;
}

footer
{
    background-color:#284b63;
    color:#d9d9d9;
}