@media print
{
    body
    {
        width:100%;
        height:auto;
        overflow:visible;
    }
    header
    {
        display:none;
    }
}

header
{
    background-color:#3c6e71;
    font-size:1.5em;    
}

button
{
    font-size:1rem;
    width:10%;
    margin-left:1em;
    margin-bottom:1em;
}
#resume_head
{
    display:flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: row;
    color:#d9d9d9;
    background-color:#284b63;
}

img
{
    width:200px;
    height:auto;
    padding:1rem;
}


a:link{
    color:#d9d9d9;
}

a:visited
{
    color:white;
}
body
{
    padding:0;
    margin:0;
    display:flex;
    flex-direction:column;
}
main
{
    flex:1;
}

h1
{
    padding:0 1rem;
}

p
{
    padding:0 1rem;
}

h2
{
    padding:0 1rem;
}

h3
{
    padding:0 1rem;
}
h4
{
    padding:0 1rem;
}

footer
{
    background-color:#284b63;
    color:#d9d9d9;
}